<h2>LunchLetter – Admin</h2>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/admin/users">Users</a></li>
  <li role="presentation"><a href="/admin/ratings">Ratings</a></li>
  <li role="presentation" class="active"><a href="/admin/restaurants">Restaurants</a></li>
</ul>

<div class="viewContainer" style="background-color: white; padding: 10px;">
<table>
       <thead>
               <tr>
                       <th>ID</th>
                       <th>Restaurant</th>
                       <th>Address</th>
                       <th>EW</th>
                       <th>NS</th>
                       <th>URL</th>
                       <th></th>
                       <!--<th>Opening Hours</th>-->
               </tr>
       </thead>
       <tbody>
       <tr ng-repeat="restaurant in restaurants">
               <td>{{restaurant.entityId}}</td>
               <td>{{restaurant.properties.name}}</td>
               <td>{{restaurant.properties.address1}}, {{restaurant.properties.address2}}</td>
               <td><input type="text" ng-model="restaurant.properties.coordinate_x"></td>
               <td><input type="text" ng-model="restaurant.properties.coordinate_y"></td>
               <td><input type="text" ng-model="restaurant.properties.url"></td>
               <td><input type="submit" class="btn btn-success btn-sm" value="Save" ng-click="saveRestaurant(restaurant);"></td>
               <td><input type="submit" class="btn btn-success btn-sm" value="Delete" ng-click="deleteRestaurant(restaurant);"></td>
               <!--<td>{{restaurant.properties.opening_hours}}</td>-->
       </tr>
       </tbody>
</table>
</div>
