<h2>LunchLetter – Admin</h2>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/admin/users">Users</a></li>
  <li role="presentation"><a href="/admin/ratings">Ratings</a></li>
  <li role="presentation"><a href="/admin/restaurants">Restaurants</a></li>
</ul>

<div class="viewContainer" style="background-color: white; padding: 10px;">
<table>
	<thead>
		<tr>
			<th>Email</th>
			<th>Position</th>
			<th>Date</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	<tr ng-repeat="user in users">
		<td>{{user.entityId}}</td>
		<td><a href="https://www.google.ch/maps/@{{user.properties.latitude}},{{user.properties.longitude}},14z">{{user.properties.latitude | number:4}},{{user.properties.longitude | number:4}}</a></td>
		<td>{{user.creationTime}}</td>
		<td><a href="#" ng-click="unsubscribeUser(user)">Unsubscribe</a></td>
	</tr>
	</tbody>
</table>
</div>
